@model e_commerce.Models.ApplicationUser
@{
    ViewBag.Title = "Register";
}
@section menu{}

<div class="span9">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Registration</li>
    </ul>
    <h3> Registration</h3>
    <hr class="soft" />
    <div class="well">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h3>Your Personal Details</h3>
            @Html.ValidationSummary()

            <div class="control-group">

                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
                </div>
            </div>





            <div class="control-group">
                @Html.LabelFor(m => m.UserType, new { @class = "col-md-2 control-label" })
                <div class="controls">
                    @Html.DropDownList("UserType", null, "--select--", new { @class = "form-control input-lg" });
                </div>
            </div>



            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Image, new { @class = "col-md-2 control-label" })
                <div class="controls">
                    <input name="upload" type="file" id="Imageid" class="form-control" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> gender <sup>*</sup></label>
                <div class="controls">
                    @Html.DropDownList("gender", null, new { @class = "form-control" })
                </div>
            </div>



                        <div class="control-group">
                <div class="controls">
                    <input type="submit" name="submitAccount" value="Register" class="exclusive shopBtn" id="save">

                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/complete/jquery-1.10.2.js"></script>
    <script>

        $(function () {
            $("#save").click(function () {
                //check if the input is empty
                if ($("#Imageid").val() == "") {
                    $("#error-div").fadeIn();
                    $("#view-error").append("please select Image from galary");
                    return false;
                }
                if ($("#Imageid").val() != "") {
                    //check if the image extention is valid
                    var filename = document.getElementById("Imageid").value;
                    var extention = filename.substr(filename.lastIndexOf('.') + 1);
                    var validextention = ['bmp', 'gif', 'png', 'jpg', 'PNG'];
                    if ($.inArray(extention, validextention) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-error").append("please select Image by valid extention");
                        return false;
                    }

                    //check if the image size is valid

                    var filesize = document.getElementById("Imageid").files[0].size / 1024 / 1024;
                    if (filesize > 2) {
                        $("#error-div").fadeIn();
                        $("#view-error").append("please select Image size >2");
                        return false;
                    }
                }

            });

        });

    </script>





