@model IEnumerable<e_commerce.Models.favourite>

@{
    ViewBag.Title = "userfav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>userfav</h2>


<table class="table table-bordered" style="width: 100%;color:darkslateblue; background: url(../assets/img/bootstrap_free-ecommerce.png) repeat 0 0" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
      
    </tr>
}

</table>
