
<ul class="thumbnails" id="charts">
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr" style="background-color:aqua">
                <p>ALL Product</p>
                <h4><a class="shopBtn" href="#" title="add to cart"> @ViewData["Products"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#"> Add More............... </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr">
                <p>Number & Categories</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["Categories"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#"> Add More........ </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr" style="background-color:aqua">
                <p>Number Of User</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["Users"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ...... </a>
             
                </div>
                <br class="clr">
            </div>
        </div>
    </li>

    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr">
                <p>Number of Orders</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["Orders"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ....... </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr">
                <p>Number of OrderDetails</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["OrderDetails"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ....... </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr" style="background-color:aqua">
                <p>Number & like </p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["like"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ........ </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>

    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr">
                <p>Cart</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["carts"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ...... </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a href="product_details.html"><img src="" alt=""></a>
            <div class="caption cntr" style="background-color:aqua">
                <p>Number & Comments</p>
                <h4><a class="shopBtn" href="#" title="add to cart">@ViewData["Comments"] </a></h4>
                <div class="actionList">
                    <a class="pull-right" href="#">Add More ...... </a>

                </div>
                <br class="clr">
            </div>
        </div>
    </li>
 
</ul>
